:root {
  --primary-color: #055a05;      /* forest green */
  --secondary-color: #f4a261;    /* warm sand */
  --accent1-color: #264653;      /* dark slate blue */
  --accent2-color: #e9c46a;      /* light golden yellow */
  --heading-font: "Merriweather Sans", sans-serif;
  --body-font: "Lato", sans-serif;
}

main {
  text-align: center;
}


header {
  background-color: #3677901d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  display: center;
  font-family: var(--heading-font);
  color: #055a05
   
  
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia img {
  width: 40px;
  height: auto;

}

